{
  "port": 3000,
  "headless_mode": false,
  "accepted_age_of_data_in_seconds": 60,

  "email": "",
  "password": "",

  "unique_id": "",
  
  "account_id": "",
  "client_id": "",
  "authtoken": "",
  "region_tier": ""
}
